asgiref==3.4.1
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831764494/work
charset-normalizer==2.0.6
coreapi==2.3.3
coreschema==0.0.4
cryptography @ file:///C:/ci/cryptography_1616769432139/work
Django==3.2
django-extensions==3.1.3
django-filter==21.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
importlib-metadata==4.8.1
itypes==1.2.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
Markdown==3.3.4
MarkupSafe @ file:///C:/ci/markupsafe_1621528383308/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyJWT==2.1.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pytz==2021.3
PyYAML==5.4.1
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
sqlparse==0.4.2
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.7
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
zipp==3.6.0
